<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: cmydurblobstorage -->
        <add key="cmydurblobstorage_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cmydurblobstorage;AccountKey=0Z0bfYL3N/q9Kv/H5Ai4H8KgrTm42gWH1VxCDYcDPKZAQGY4zLYmrS+4ElSbqHPDHx8cUEg0EvJrS9XVPppleg==" />
    </appSettings>
</configuration>